.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
  overflow: hidden;
}

.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;

  .card {
    cursor: pointer;
    height: 150px;
    width: 125px;
  }
}

.eachCard {
  height: 130px !important;
  width: 90px !important;
  background-color: white;
  border-radius: 8px;
}

.added-cards--container {
  display: flex;
  gap: 20px;
  .card {
    cursor: pointer;
    height: 150px;
    width: 125px;
  }

  .card.selected {
    box-shadow: 0 0 0 7px red;
  }
}

.cards {
  gap: 24px;
  display: flex;
  margin-top: 64px;
  overflow: hidden;
  justify-content: center;
  flex: 1;
}

.cardsWrapper {
  width: 100vw;
  overflow-x: auto;
}

.cardWrapper {
  margin-left: 12px;
  margin-right: 12px;
  box-shadow: var(--shadow-8);
}

.button {
  background-color: var(--accent);
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slots {
  margin-top: auto;
  display: flex;
  gap: 24px;
  margin-bottom: 24px;
}

.slot {
  display: flex;
  width: 180px;
  height: 240px;
  border: 3px solid rgb(75, 69, 69);
  border-radius: 8px;

  &.isOver {
    opacity: 0.8;
    background-color: var(--accent);
  }
}
