:root {
  --main-blue: rgb(58, 28, 10);
  --accent: #dfb099;
  --accent-hover: #d3a791;
  --accent-active: #c2957f;
  --primary-100: #dee3ea;
  --primary-200: #b2bdcd;
  --primary-300: #5d7290;
  --primary-500: #3d495c;
  --primary-600: #323d4d;
  --primary-700: #242c37;
  --primary-800: #151a21;
  --primary-900: #0b0e11;
  --text-color: var(--primary-100);
  --main-color: var(--primary-100);
}
