:root {
  --main-blue: rgb(12, 5, 26);
  --accent: #c14641;
  --accent-hover: #d04c47;
  --accent-active: #e35d57;
  --primary-100: #dee3ea;
  --primary-200: #b2bdcd;
  --primary-300: #5d7290;
  --primary-500: #3d495c;
  --primary-600: #323d4d;
  --primary-700: #242c37;
  --primary-800: #151a21;
  --primary-900: #0b0e11;
  --text-color: var(--primary-100);
  --main-color: var(--primary-100);
}
