.card {
  background-color: white;
  border-radius: 8px;
  height: 300px;
  width: 250px;

  transition: transform 0.5s;
  user-select: none;

  &.collapsed {
    width: 70px;
    height: 110px;
  }
  &.rotate {
    transform: rotateZ(20deg);
  }

  &.draggable {
    cursor: grab;
  }

  &.hoverable {
    cursor: grab !important;
    &:hover {
      transform: scale(2) translateY(-50px);
      transition: transform 0.5s;
      box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.12),
        0px 4px 12px rgba(0, 0, 0, 0.08);
    }
  }
}
