.header {
  display: flex;
  position: fixed;
  top: 0;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  transition: background-color 0.15s linear;
  height: var(--navbar-height);

  &.scrolled {
    transition: background-color 0.15s linear;
    background-color: var(--main-blue);
    box-shadow: var(--shadow-8);
  }
}

.menu {
  display: flex;

  & .connect {
    margin-right: 12px;
  }
}

.icon {
  color: var(--primary-100);
  margin-right: 8px;
}

.logoWrapper {
  display: flex;
  align-items: center;
}

.links {
  margin-left: 80px;
}

.link {
  color: var(--text-color);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
