.container {
  body:global(.light) & {
  }
}

.wrapper {
  background-color: var(--fb-battle) !important;
  display: flex;
  max-height: 100vh;
  min-height: 100vh;
  min-width: 100vw;
  align-items: center;
  justify-content: space-between;
  overflow-y: hidden !important;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  height: 100vh;
  position: relative;
  justify-content: center;
}

.boardWrapper {
  align-self: center;
}

.cards {
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 25%;
  background-color: red;
  overflow: auto;
  padding: 1rem;
  align-items: center;

  & .card:not(:last-child) {
    margin-bottom: 1rem;
  }

  &.collaped {
    display: none;
  }
}
